<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Everi.News: Always Be the First to Know</title>
  <link rel="icon" href="https://everinews.b-cdn.net/images/logo.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
  <link rel="stylesheet" href="https://everinews.b-cdn.net/styles/themes/MDB-Pro/4.19.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://everinews.b-cdn.net/styles/themes/MDB-Pro/4.19.1/css/mdb.min.css">
  <link rel="stylesheet" href="https://everinews.b-cdn.net/styles/themes/MDB-Pro/4.19.1/css/style.css">
  <link rel="stylesheet" href="https://everinews.b-cdn.net/styles/style.css">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-165324969-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-165324969-1');
  </script>

</head>
<body>

<header>

  <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container">
      <a class="navbar-brand waves-effect" href="https://everi.news/" target="_blank">
        <img src="https://everinews.b-cdn.net/images/logo_80x80.png" alt="Logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link waves-effect font-weight-bold" href="https://everi.news/" target="_blank">Everi.News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="https://everi.news/" target="_blank">Always Be the First to Know</a>
          </li>
        </ul>
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item">
            <a href="https://www.facebook.com/EveriNews/" class="nav-link waves-effect" target="_blank">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="nav-item">
            <a href="https://twitter.com/EveriNews" class="nav-link waves-effect" target="_blank">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="nav-item">
            <a href="/contact_us.html"
               class="nav-link border border-light rounded waves-effect mr-2">
              <i class="fas fa-envelope mr-1"></i>Contact Us
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</header>



<div class="container my-5" style="margin-top: 125px !important;">

  <section class="magazine-section dark-grey-text mt-5">

    <h3 class="text-center font-weight-bold mb-4 pb-2">NAME</h3>
    <p class="text-center w-responsive mx-auto mb-5">DESCRIPTION</p>

    <div class="row mb-5">

      <div class="col-12">

        {% for article in articles %}
        <div class="single-news mb-5">
          <div class="card card-cascade">
            <div class="card-body card-body-cascade">
              <a class="dark-grey-text" href="{{ article.internal_link }}" target="_blank">
                <h3 class="font-weight-bold text-left">{{ article.title }}</h3>
                <p class="text-left">
                  {{ article.description }}
                </p>
                <p class="font-weight-bold">
                  Read More...
                </p>
                <p class="">
                  {{ article.external_link }}
                </p>
              </a>
            </div>
          </div>
        </div>
        {% endfor %}

        <div class="text-center mb-5">

          [Ad // note: for desktop and mobile - implemented in Java code]

        </div>

      </div>
    </div>
  </section>
</div>

<div class="text-center">
  PAGE
</div>

<div class="container-fluid m-0 p-0">
  <div class="card card-intro blue-gradient">
    <div class="card-body white-text rgba-black-light text-center">
      <div class="row d-flex justify-content-center">
        <div class="col-md-6">
          <p class="mb-0">Always Be the First to Know</p>
        </div>
      </div>
    </div>
  </div>
</div>



<footer class="page-footer font-small py-3 dark-grey-text" style="background-color: #fffffa;">
  <div class="container">
    <div class="col-12 mb-4">
      <ul class="list-unstyled d-flex justify-content-center mb-0 mt-2">
        <li>
          <a href="/about.html" class="dark-grey-text mx-3" role="button">About Everi.News</a>
        </li>
        <li>
          <a href="/faqs.html" class="dark-grey-text mx-3" role="button">FAQs</a>
        </li>
        <li>
          <a href="/privacy_policy.html" class="dark-grey-text mx-3" role="button">Privacy Policy</a>
        </li>
        <li>
          <a href="/contact_us.html" class="dark-grey-text mx-3" role="button">Contact Us</a>
        </li>
      </ul>
    </div>
    <div class="row my-1">
      <div class="col-12 text-center">
        <img src="https://everinews.b-cdn.net/images/logo_80x80.png" height="20" width="20" alt="Logo">
        <strong>Everi.News</strong>
      </div>
    </div>
    <div class="row my-1">
      <div class="col-12 text-center">
        © 2020. All Rights Reserved.
      </div>
    </div>
  </div>
</footer>



<script src="https://everinews.b-cdn.net/styles/themes/MDB-Pro/4.19.1/js/jquery.min.js"></script>
<script src="https://everinews.b-cdn.net/styles/themes/MDB-Pro/4.19.1/js/popper.min.js"></script>
<script src="https://everinews.b-cdn.net/styles/themes/MDB-Pro/4.19.1/js/bootstrap.min.js"></script>
<script src="https://everinews.b-cdn.net/styles/themes/MDB-Pro/4.19.1/js/mdb.min.js"></script>
<script ></script>

</body>
</html>
